.item-list {
  height: 377.5px;
  overflow: auto;
}

.item-list .list-group-item {
  cursor: pointer;
}

.list-group-item p {
  margin-bottom: .2rem;
}

.item-list .list-group-item:hover {
  background-color: #444;
}
